$font-stack: Helvetica, sans-serif;
$primary-font-color: red;

body {
  font: 100% $font-stack;
  color: $primary-font-color;
  background-color: lightblue;
  margin: 10%;
  text-align: center;
}

.output{
  font-size: 3em;
  font-weight: bold;
  margin-top: 10%;
}
